@import '~antd/dist/antd.css';

.layout {
    height: 100vh;
}

.header {
    color: #fff;
    font-size: 200%;
}

.ant-layout-content {
    display: flex;
}

.ant-breadcrumb {
    padding: 14px 0;
}

.ant-breadcrumb-link {
    cursor: pointer;
}

.site-layout-content {
    
    flex: 1;
    display: flex;
    flex-direction: column;
}


.employee-content {
    flex: 1;
}

.employee-content--margin {
   margin-top: 50px;
}

.employee-name {
    cursor: pointer;
}